{% extends "base_layout.html" %}
{% block content %}

    <div class="container mt-4 text-center">
        <h1>Welcome to Hotel Room Reservation</h1>
        <p>Book your hotel room now</p>
        <a href="{{ url_for('rooms.index')}}" class="btn btn-primary btn-lg">Book Hotel Room Now</a>
    </div>

    <!-- Bootstrap JS and jQuery dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
