{% extends "main/base_layout.html" %}
{% block content %}
  {% include 'main/flash_message.html' %}
    <div class="container mt-4">
        <h1>Your Reservation History</h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Reservation ID</th>
                    <th scope="col">Guest Name</th>
                    <th scope="col">Check-In Date</th>
                    <th scope="col">Check-Out Date</th>
                    <th scope="col">Room ID</th>
                    <th scope="col">Actions</th> <!-- New column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.guest_name }}</td>
                    <td>{{ reservation.check_in_date }}</td>
                    <td>{{ reservation.check_out_date }}</td>
                    <td>{{ reservation.room_id }}</td>
                    <td>
                        <form action="{{ url_for('customer.cancel_reservation', reservation_id=reservation.id) }}" method="post">
                            <button type="submit" class="btn btn-danger">Cancel Reservation</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
