{% extends "main/base_layout.html" %}
{% block content %}

    <div class="container mt-4">
        {% include 'main/flash_message.html' %}
        <h1>Reservation Details</h1>

        <table class="table mt-4">
            <tbody>
                <tr>
                    <th scope="row">Reservation ID:</th>
                    <td>{{ reservation.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Guest Name:</th>
                    <td>{{ reservation.guest_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Check-In Date:</th>
                    <td>{{ reservation.check_in_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Check-Out Date:</th>
                    <td>{{ reservation.check_out_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Room ID:</th>
                    <td>{{ reservation.room_id }}</td>
                </tr>
            </tbody>
        </table>

        <form action="{{ url_for('customer.cancel_reservation', reservation_id=reservation.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Cancel Reservation</button>
        </form>

        <a href="{{ url_for('customer.reservation_history') }}" class="btn btn-primary mt-3">View Reservations</a>

    </div>

{% endblock %}
